@import "tailwindcss";

@plugin "daisyui" {
    themes: ["business"];
}
@plugin "daisyui/theme" {
    name: "business";
    default: true;
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
  }