@import "tailwindcss";
@plugin "daisyui" {
    themes: forest;
}
@plugin "daisyui/theme" {
    name: "forest";
    default: true;
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --color-success: yellow;
  }